<div>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.logo) }}
    {{ form_row(form.cover) }}
    {{ form_row(form.baseline) }}
    {{ form_row(form.languages) }}
    {{ form_row(form.description1) }}
    {{ form_row(form.description2) }}
    {{ form_row(form.link) }}
    <div class="methodLinks-container">
        <label class="col-form-label">Screenshots</label>
        <div class="js-methodLink-wrapper"
             data-prototype="{{ form_widget(form.screenshots.vars.prototype)|e('html_attr') }}"
             data-index="{{ form.screenshots|length }}">
            {% for screenshot in form.screenshots %}
                <div class="js-methodLink-item">
                    {{ form_errors(screenshot) }}
                    {{ form_row(screenshot.fileUpload) }}
                    {{ form_row(screenshot.title) }}
                </div>
            {% endfor %}
        </div>
        <a href="#" class="js-add-methodLink">
                    <span><svg class="bi bi-plus-circle-fill" width="1em" height="1em" viewBox="0 0 16 16"
                               fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
                    </svg></span>
            <label class="col-form-label text-white">Ajouter un lien</label>
        </a>
    </div>
    <div class="col-12 text-center">
        <button class="btn form-button">{{ button_label|default('Créer la fiche méthode') }}</button>
    </div>
    {{ form_end(form) }}
</div>
